{% extends "layout/base.html" %}
{% block content %}      
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Daftar Kehadiran</h1>
            <ol class="breadcrumb" style="margin-bottom: 5px;">
              <li><a href="/">Beranda</a></li>
              <li class="active">Daftar Kehadiran</li>
            </ol>
            <br />
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-bar-chart-o fa-fw"></i> Daftar Kehadiran
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <form action="{% url 'kehadiran:index' %}" method="POST" role="form" class="form-inline">
                                {% csrf_token %}
                                <div class="form-group">
                                    <label>Tahun</label>
                                    <select name="tahun" class="form-control">
                                        <option value="">------</option>
                                        <option value="2016" {% if request.session.tahun == "2016" %}selected="selected"{% endif %}>2016</option>
                                        <option value="2015" {% if request.session.tahun == "2015" %}selected="selected"{% endif %}>2015</option>
                                        <option value="2014" {% if request.session.tahun == "2014" %}selected="selected"{% endif %}>2014</option>
                                    </select>                          
                                </div>
                                <div class="form-group">
                                    <label>Bulan</label>
                                    <select name="bulan" class="form-control">
                                        <option value="">--------------</option>
                                        <option value="01" {% if request.session.bulan == "01" %}selected="selected"{% endif %}>Januari</option>
                                        <option value="02" {% if request.session.bulan == "02" %}selected="selected"{% endif %}>Februari</option>
                                        <option value="03" {% if request.session.bulan == "03" %}selected="selected"{% endif %}>Maret</option>
                                        <option value="04" {% if request.session.bulan == "04" %}selected="selected"{% endif %}>April</option>
                                        <option value="05" {% if request.session.bulan == "05" %}selected="selected"{% endif %}>Mei</option>
                                        <option value="06" {% if request.session.bulan == "06" %}selected="selected"{% endif %}>Juni</option>
                                        <option value="07" {% if request.session.bulan == "07" %}selected="selected"{% endif %}>Juli</option>
                                        <option value="08" {% if request.session.bulan == "08" %}selected="selected"{% endif %}>Agustus</option>
                                        <option value="09" {% if request.session.bulan == "09" %}selected="selected"{% endif %}>September</option>
                                        <option value="10" {% if request.session.bulan == "10" %}selected="selected"{% endif %}>Oktober</option>
                                        <option value="11" {% if request.session.bulan == "11" %}selected="selected"{% endif %}>November</option>
                                        <option value="12" {% if request.session.bulan == "12" %}selected="selected"{% endif %}>Desember</option>
                                    </select>                          
                                </div>
                                <div class="form-group">
                                    <input type="submit" class="btn btn-primary" value="Submit" />
                                </div>
                            </form>
                            <br/>
                            <div class="table-responsive">
                                <table class="table table-bordered table-hover table-striped">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <td>Tanggal</td>
                                            <td>Status</td>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% if daftar_hadir %}
                                            {% for hadir in daftar_hadir %}
                                            <tr>
                                                <td>{{ forloop.counter }}</td>
                                                <td>{{ hadir.waktu }}</td>
                                                <td>{{ hadir.jenis_kehadiran }}</td>
                                            </tr>
                                            {% endfor %}
                                        {% else %}
                                        <tr>
                                            <td colspan="3" style="text-align:center;">Tidak ada data kehadiran saat ini...</td>
                                        </tr>
                                        {% endif %}
                                    </tbody>
                                </table>
                                {% if request.session.bulan and request.session.tahun %}
                                    <a href="{% url 'kehadiran:tampil_grafik' request.session.bulan request.session.tahun %}" class="btn btn-default"><i class="fa fa-bar-chart-o fa-fw"></i>Tampilkan Grafik</a>    
                                    <a href="{% url 'kehadiran:cetak' request.session.bulan request.session.tahun %}" class="btn btn-primary"><i class="fa fa-file-pdf-o"></i> Cetak PDF</a> 
                                {% endif %}
                            </div>
                            <!-- /.table-responsive -->
                        </div>
                        <!-- /.col-lg-4 (nested) -->
                    </div>
                    <!-- /.row -->
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-lg-8 -->
    </div>
    <!-- /.row -->
{% endblock %}